.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.game-name {
	text-align: center;
}

.row {
	text-align: center;
}

.pollly-embed {
	width: 100%;
}

.explanations {
	width: 100%;
	text-align: center;
}

.explanation {
	width: 80%;
	font-size: 16px;
	display: inline-block;
}

.thumbnail {
	cursor: pointer;
	text-decoration: none;
	color: #050505;
}

a:hover {
	text-decoration: none;
}